@page
@model Healio.Pages.ProfileModel
@{
    ViewData["Title"] = "Profil";
}
<style>
    .container {
        background-color: #FFFFFF;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
        max-width: 600px;
        margin: 0 auto;
    }

    h2 {
        color: #2A6A8F;
        text-align: center;
        margin-bottom: 20px;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .profile-info {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .profile-info p {
        color: #1A3C5A;
        font-size: 1rem;
    }

    form {
        display: none;
    }

    form.show {
        display: block;
    }
</style>
<div class="container">
    <h2>Profilom</h2>
    <div class="profile-info">
        <p><strong>Email:</strong> @Model.UserEmail</p>
        <p><strong>Szerepkör:</strong> @Model.UserRole</p>
    </div>
</div>
    @if (User.IsInRole("doctor"))
    {
        <button class="toggle-button" onclick="toggleForm()">Űrlap kitöltés</button>
        <a asp-page-handler="FillFormDoctor" asp-route-userEmail="@Model.UserEmail">Fill form</a>
        <form method="post" class="ProfileForm" asp-page-handler="SaveDoctorProfile">
            <div>
                <label>Név:</label>
                <input asp-for="name" required />
                <span></span>
            </div>
            <div>
                <label>Szakterület:</label>
                <input asp-for="specialization" required />
                <span></span>
            </div>
            <div>
                <label>Klinika címe:</label>
                <textarea asp-for="clinicAddress" rows="3" required></textarea>
                <span></span>
            </div>
            <button type="submit">Mentés</button>
        </form>
    }
	@if (User.IsInRole("patient"))
	{
        <button class="toggle-button" onclick="toggleForm()">Űrlap kitöltés</button>
        <a asp-page-handler="FillFormPatient" asp-route-userEmail="@Model.UserEmail">Fill form</a>
        <form method="post" class="ProfileForm" asp-page-handler="SavePatientProfile">
            <div>
                <label>Név:</label>
                <input asp-for="name" required />
                <span></span>
            </div>
            <div>
                <label>Születési idő:</label>
                <input asp-for="date_of_birth" type="date" value="@DateTime.Now" required />
                <span></span>
            </div>
            <div>
                <label>Betegségi előzmény:</label>
                <textarea asp-for="medical_history" rows="3" required></textarea>
                <span></span>
            </div>
            <button type="submit">Mentés</button>
        </form>
	}
</div>
<script>
    function toggleForm() {
        console.log("asd123123");
        const form = document.querySelector('.ProfileForm');
        form.classList.toggle('show');
    }
</script>